<configuration>
    <appSettings>
        <add key="DataFiles"
             value="C:\Users\shama\RiderProjects\Airport Ticket Booking\Airport Ticket Booking\DataStorage" />

        <add key="LogsDirectory"
             value="C:\Users\shama\RiderProjects\Airport Ticket Booking\Airport Ticket Booking\Logs" />
    </appSettings>
</configuration>